<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAKAO</title>
</head>
<body>
    <div>
        <h1>카카오 로그인</h1>
        <form action="/kakaoLoginLogic" method="GET">
          <input type="submit" value="카카오로그인" />
        </form>
        <form action="/kakaoLogout" method="GET">
          <input type="submit" value="카카오로그아웃 및 연결 끊기" />
        </form>
      </div>
</body>
</html> -->



{% if check %}
    <div>
        <h1>카카오 로그아웃</h1>
        <form action="/kakaoLogout" method="GET">
            <input type="submit" value="카카오로그아웃 및 연결 끊기" />
        </form>
    </div>
{% else %}

    <div>
        <h1>카카오 로그인</h1>
        <form action="/kakaoLoginLogic" method="GET">
        <input type="submit" value="카카오로그인" />
        </form>
    </div>
{% endif %}

<script>

var ws = new WebSocket('ws://127.0.0.1:8000');
ws.onopen = (event) => {
  let sendData = { event: 'open' }
  ws.send(JSON.stringify(sendData));
}
ws.onmessage = (event) => {
  let recData = JSON.parse(event.data);
  switch (recData.event) {
    case 'response':
      console.log(recData.data);
      break;
  }
}
  
function myOnClick() {
  let sendData = {
    event: 'request',
    data: 'some data...'
  };
  ws.send(JSON.stringify(sendData));
}
</script>